.modal-btn {
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}

.modal-btn_theme_dark {
  color: #ffffff;
}

.modal-btn_theme_light {
  color: #303030;
}

.modal-btn_disabled {
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: #cccccc;
  }
}
