.modal-form-head {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 6px;
}

.modal-form-field {
  margin-bottom: 20px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &:required:focus:not(:placeholder-shown):valid {
    border-color: green;
  }

  &:required:focus:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: teal;

  .modal-form-input:focus + & {
    background-color: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 6px;

  &::placeholder {
    color: rgb(204, 204, 204);
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-checkbox-policy {
  font-size: 12px;

  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 18px;
    height: 18px;
    cursor: pointer;
    outline: 1px solid #000000;
    margin-right: 10px;

    .modal-form-checkbox:checked + & {
      border: 4px solid #ffffff;
      background-color: var(--accent-color);
    }

    .modal-form-checkbox:focus + & {
      outline-color: blue;
      box-shadow: 0 0 0 2px blue;
    }
  }
}

.modal-form-btn {
  @include font(12px, 600, 16px);
  align-self: center;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 20px;
  transition: color 250ms linear, background-color 250ms linear;
  margin-top: 20px;

  .modal-form-btn:hover,
  .modal-form-btn:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}
